*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.page{
    position: fixed;
    top: 0;
    left: -100vw;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display: grid;
    place-items: center;
    transition: 0.6s all ease-in-out;

}

.visible{
    left: 0;
    transition: 0.3s all ease-in;
}

.box{
    width:80%;
    height:80%;
    display:grid;
    place-items:center;
    border:1px solid white;
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#rightimage{
    width: 100%;
    height: 100%;
    background-image: url(./assets/4e34fe147eb08183f1dfb9576697b7c0.webp);
    background-size: cover;
}

#imagebox{
    background-image: url();
    background-size: cover;
    background-position: center center;

}

#page1{
    background-color: black;
}
#page2{
    background-color: pink;
}
#page3{
    background-color: green;
    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;
}

#page4{
    background-color: red;
}

h1{
    font-family: open sans;
    color:hotpink
}
